<!DOCTYPE html>
<html>
  <head>
    <title>トップページ</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/javascripts/client.js"></script>
  </head>
  <body>
     <div class="entryArea">
      <a href="/participate?role=1">開催者</a>
      &nbsp;&nbsp;
      <a href="/participate?role=0">参加者</a>
    </div>
  </body>
</html>
